<header>
    <nav>
        <a href="/">Corned Beef House</a>
        <ul>
            <li><a href="/authors">Staff</a></li>
            <li><a href="/authors/new">Add Staff</a></li>
        </ul>
    </nav>
</header>